@import 'style_set';

.header {
    width: 100%;
    position: fixed;
    background: #fff;
    padding: 0.5em;
    background-attachment: fixed;
    z-index: 5;


    &--logo {
        height: 1.75em;
        position: absolute;
        left: 1em;
        cursor: pointer;
    }

    &--menu-right {
        position: absolute;
        font-size: 1.5em;
        top: 0.35em;
        right: 1.5em;

        &--btn {
            display: inline-block;
            height: 1em;
            padding: 0.2em 0.05em;
            line-height: 1em;
            cursor: pointer;
            @include transition(all 0.2s ease-in);

            &:hover {
                color: $color-red;
            }
        }
    }

    .search-bar {
        background-color: #e1e1e1;
        height: 2em;
        line-height: 2em;
        font-size: 0.8em;
        font-weight: 100;
        width: 100%;
        text-align: center;
        cursor: pointer;
        outline: none;

        @include main-border();

        &--container {
            display: block;
            margin: 0 6em 0 3em;
            width: auto;
        }

        &:focus {
            background-color: $search-bar-background-color-focus;
        }
    }
}
