@import 'style_set';

.header {
    padding: 0.25em;
    height: 2em;
    width: 100%;
    position: fixed;
    background-image: $main-background-src;
    background-attachment: fixed;
    z-index: 5;

    &--logo {
        height: 2em;
        position: absolute;
        left: 1em;
        cursor: pointer;
    }

    &--menu-right {
        position: absolute;
        margin: 0.25em;
        top: 0;
        right: 1em;

        &--btn {
            height: 2em;
            cursor: pointer;
        }
    }

    .search-bar {
        background-color: $search-bar-background-color;
        height: auto;
        font-size: 1.6em;
        width: 100%;
        text-align: center;
        cursor: pointer;
        @include main-border();
        @include shadow(0.08em);

        &--container {
            display: block;
            margin: 0 8em 0 3em;
            width: auto;
        }

        &:focus {
            background-color: $search-bar-background-color-focus;
        }
    }
}
