@import 'reset';
@import 'style-set';
@import 'header';
@import 'sticker';
@import 'footer';
@import 'popup';
@import 'loading';

@import 'font-awesome/font-awesome';

@media screen and (max-width: $breakpoint--small) {
    .body {
        font-size: $font-size--small;
    }
}

@media screen and (min-width: $breakpoint--medium) and (max-width: $breakpoint--big){
    .body {
        font-size: $font-size--medium;
    }
}

@media screen and (min-width: $breakpoint--big) {
    .body {
        font-size: $font-size--big;
    }
}

.body {
    background-image: $main-background-src;
    background-attachment: fixed;
    font-family: $font-stack;
    color: $font-color;
}

.main {
    padding-top: 3.5em;
}

.templates--container {
    display: none;
}

.columns {
    width: 98%;
	margin: auto;
    @include column-width();
    @include column-gap(1em);
}
