@import 'style_set';

// Styles
.body {
    background: $primary-background-color;
    font-family: $font-stack;
    color: $font-color;
}

.templates--container {
    display: none;
}

.closePopup {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.active--popup {
    z-index: 200;
}
