@import 'style_set';


.body {
    background-image: $main-background-src;
    background-attachment: fixed;
    font-family: $font-stack;
    color: $font-color;
}

.main {
    padding-top: 2.7em;
}

.templates--container {
    display: none;
}

.columns {
    width: 98%;
	margin: auto;
    @include column-width();
    @include column-gap(1em);
}
