@import 'reset';
@import 'style_set';
@import 'main-styles';
@import 'header-styles';
@import 'sticker-styles';
@import 'footer-styles';
@import 'popup';

@import 'font-awesome/font-awesome';
// @import 'popups/new-sticker-popup';
// @import 'popups/change-board-popup';

@media screen and (max-width: $breakpoint--small) {
    .body {
        font-size: $font-size--small;
    }
}

@media screen and (min-width: $breakpoint--medium) and (max-width: $breakpoint--big){
    .body {
        font-size: $font-size--medium;
    }
}

@media screen and (min-width: $breakpoint--big) {
    .body {
        font-size: 1.45vw;
    }
}
