@import 'style_set';

.sticker {
    width: $sticker-width;
    background-color: $sticker-background-color;
    margin: 0.2em;
    //@include border-radius(0.25em);
    display: inline-block;
    cursor: pointer;
    @include shadow(0.15em);
    @include column-brake-inside(avoid);
    z-index: 0;

    &:hover {
        background-color: $sticker-background-color--hover;
    }

    &:hover > &-bar {
        display: block;
        height: auto;
    }

    &-id {
        display: none;
    }

    &--name {
        text-align: center;
        font-size: 1.2em;
        margin: 0 0.2em;
        @include sticker-underline();

        .sticker--title {
            font-weight: bold;
        }
    }

    &--picture {
        @include border-radius(0.25em);

        &--img {
            width: $sticker-width;
            margin-top: 0.2em;
        }
    }

    &--link {
        text-align: center;
        margin: 0 0.2em;
        @include sticker-underline();

        &--path {
            text-decoration: none;
            font-style: italic;
            color: $font-color;
        }

        &:hover {
            text-decoration: underline;
        }
    }

    &--content {
        text-indent: 1em;
        text-align: justify;
        padding: 0.2em 0.1em;
    }

    &-bar {
        height: 0;
        z-index: 10;
        display: none;

        &--menu {
            display: flex;
            justify-content: space-around;

            &-item {
                display: inline-block;

                &:hover {
                    color: red;
                }
            }
        }
    }
}
