@import 'style-set';

.sticker {
    width: $sticker-width;
    background-color: $sticker-background;
    position: relative;
    margin: 0 auto 0.8em;
    display: block;
    cursor: pointer;
    z-index: 0;
    opacity: 0;
    @include shadow(0.15em);
    @include column-brake-inside(avoid);
    @include transition(all 0.5s ease-out);
    @include transform(translate(0, 10px));

    &.animated {
        opacity: 1;
        @include transform(translate(0, 0));
    }

    &:hover {
        background-color: $sticker-background-hover;
    }

    &:hover > &-bar {
        @include show(1, 0.30s);
    }

    &--title {
        text-align: center;
        font-size: 1.2em;
        padding: 1.5em 0 0.5em;
        border-bottom: $underline;
    }

    &--picture {
        &--img {
            width: $sticker-width;
            margin-top: 0.2em;
        }
    }

    &--link {
        padding: 0.5em;
        font-size: 1em;
        border-bottom: $underline;

        &--path {
            text-decoration: none;
            font-style: italic;
            color: $color-medium-grey;
            font-weight: 100;
        }

        &:hover {
            text-decoration: underline;
        }
    }

    &--content {
        font-size: 0.9em;
        padding: 0.5em;
        text-indent: 1em;
        text-align: justify;
    }

    &-bar {
        z-index: 10;
        position: absolute;
        right: 0.2em;
        top: 0.2em;
        opacity: 0.4;

        &--menu {
            &-item {
                float: left;
                background: $sticker-bar-edit-background;
                width: 1.7em;
                line-height: 1.7em;
                margin-right: 0.3em;
                text-align: center;
                font-size: 0.9em;
                color: $color-white;

                &:nth-child(1) {
                    background: $sticker-bar-boards-background;
                }

                &:nth-child(2) {
                    background: $sticker-bar-delete-background;
                }

                &:hover {
                    @include zoom(1.2);
                    transition-duration: 0.3s;
                }
            }
        }
    }
}
