@import 'style_set';

.sticker {
    width: $sticker-width;
    background-color: $sticker-background-color;
    position: relative;
    margin: 0.2em;
    overflow: hidden;
    //@include border-radius(0.25em);
    display: inline-block;
    cursor: pointer;
    @include shadow(0.15em);
    @include column-brake-inside(avoid);
    z-index: 0;

    &:hover {
        background-color: $sticker-background-color--hover;
    }

    &:hover > &-bar {
        display: block;
        height: auto;
    }

    &--title {
        text-align: center;
        font-size: 1.2em;
        padding: 0.5em;
        @include sticker-underline();
    }

    &--picture {
        &--img {
            width: $sticker-width;
            margin-top: 0.2em;
        }
    }

    &--link {
        padding: 0.5em;
        font-size: 1em;
        @include sticker-underline();

        &--path {
            text-decoration: none;
            font-style: italic;
            color: #c1c1c1;
            font-weight: 100;
        }

        &:hover {
            text-decoration: underline;
        }
    }

    &--content {
        font-size: 0.8em;
        padding: 0.5em;
        text-indent: 1em;
        text-align: justify;
    }

    &-bar {
        z-index: 10;
        position: absolute;
        right: 0.2em;
        top: 0.2em;
        width: 2em;
        //display: none;

        &--menu {
            &-item {
                //display: inline-block;
                position: relative;
                background: #5bd32c;
                width: 2em;
                line-height: 2em;
                margin-bottom: 0.2em;
                text-align: center;
                color: #fff;

                &:nth-child(1) {
                    background: #2c7dd3;
                }

                &:nth-child(2) {
                    background: #dd1919;
                }

                &:hover {
                    // transform: translate(-.2em);
                }
            }
        }
    }
}
