// Variables
$font-stack: Calibri;
$font-color: #333;

$sticker-background-color: rgba(255, 255, 255, 0.4);
$sticker-background-color--hover: rgba(255, 255, 255, 1);

$search-bar-background-color: rgba(235, 235, 245, 0.2);
$search-bar-background-color-focus: #FFF;

$popup-background-src: url('../images/seigaiha-transparent.png');
$main-background-src: url('../images/seigaiha.png');

$new-sticker-input-size: 1em;
$sticker-width: 15.5em;
$sticker-bar-edit-background: #5bd32c;
$sticker-bar-boards-background: #2c7dd3;
$sticker-bar-delete-background: #dd1919;

$shadow-color: #D9D9D9;
$footer-color: #B2B2B2;

$breakpoint--small: 540px;
$breakpoint--medium: 768px;
$breakpoint--big: 1200px;
$font-size--small: 12px;
$font-size--medium: 18px;
$font-size--big: 24px;



@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin shadow($radius) {
  -webkit-box-shadow: $radius $radius $radius/2 $shadow-color;
     -moz-box-shadow: $radius $radius $radius/2 $shadow-color;
      -ms-box-shadow: $radius $radius $radius/2 $shadow-color;
          box-shadow: $radius $radius $radius/2 $shadow-color;
}

@mixin column-brake-inside($parameter) {
    -webkit-column-break-inside: $parameter;
              page-break-inside: $parameter;
                   break-inside: $parameter;
}

@mixin column-width() {
    -webkit-column-width: $sticker-width;
       -moz-column-width: $sticker-width;
            column-width: $sticker-width;
}

@mixin column-gap($width) {
    -webkit-column-gap: $width; /* Chrome, Safari, Opera */
       -moz-column-gap: $width; /* Firefox */
            column-gap: $width;
}

@mixin show($opacity, $duration) {
    opacity: $opacity;
    -webkit-transition: opacity $duration ease-in-out;
       -moz-transition: opacity $duration ease-in-out;
        -ms-transition: opacity $duration ease-in-out;
         -o-transition: opacity $duration ease-in-out;
            transition: opacity $duration ease-in-out;
}

@mixin zoom($scale) {
    -ms-transform: scale($scale, $scale);
-webkit-transform: scale($scale, $scale);
        transform: scale($scale, $scale);
}

@mixin sticker-underline() {
    border-bottom: 2px solid #f1f1f1;
}

@mixin button() {
    font-size: $new-sticker-input-size;
    @include border-radius(0.25em);
}

@mixin main-border() {
    border: 2px solid #E6E6E6;
}
