.header {
  padding: 0.25em;
  height: 2em;
  width: 100%;
  position: fixed;
  background-image: url("../images/seigaiha.png");
  background-attachment: fixed;
  z-index: 50; }
  .header--logo {
    height: 2em;
    position: absolute;
    left: 1em;
    cursor: pointer; }
  .header--menu-right {
    position: absolute;
    margin: 0.25em;
    top: 0;
    right: 1em; }
    .header--menu-right--btn {
      height: 2em;
      cursor: pointer; }
  .header .search-bar {
    background-color: rgba(180, 180, 230, 0.1);
    height: auto;
    font-size: 1.6em;
    width: 100%;
    text-align: center;
    border: 0.05em solid #E6E6E6;
    cursor: pointer;
    -webkit-box-shadow: 0.08em 0.08em 0.04em #D9D9D9;
    -moz-box-shadow: 0.08em 0.08em 0.04em #D9D9D9;
    -ms-box-shadow: 0.08em 0.08em 0.04em #D9D9D9;
    box-shadow: 0.08em 0.08em 0.04em #D9D9D9; }
    .header .search-bar--container {
      display: block;
      margin: 0 8em 0 3em;
      width: auto; }
    .header .search-bar:focus {
      background-color: #FFF; }
