.header {
  padding: 0.25em;
  height: 2em; }
  .header .header--logo {
    height: 2em;
    position: absolute; }
  .header .header--menu-right {
    position: absolute;
    margin: 0.25em;
    top: 0;
    right: 0; }
    .header .header--menu-right > * {
      height: 2em; }
  .header .search-bar--container {
    display: block;
    margin: 0 6.75em 0 2.2em;
    width: auto; }
    .header .search-bar--container form {
      width: 100%; }
      .header .search-bar--container form .search-bar {
        height: auto;
        font-size: 1.6em;
        width: 100%;
        text-align: center;
        border: 0.05em solid #E6E6E6;
        -webkit-border-radius: 0.25em;
        -moz-border-radius: 0.25em;
        -ms-border-radius: 0.25em;
        border-radius: 0.25em;
        -webkit-box-shadow: 0 0.03em 0.03em 0;
        -moz-box-shadow: 0 0.03em 0.03em 0;
        -ms-box-shadow: 0 0.03em 0.03em 0;
        box-shadow: 0 0.03em 0.03em 0; }
