.body {
  background: #F2F2F2;
  font-family: Calibri;
  color: #333; }

.templates--container {
  display: none; }

.closePopup {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0; }

.active--popup {
  z-index: 200; }
