.body {
  background-image: url("../images/seigaiha.png");
  background-attachment: fixed;
  font-family: Calibri;
  color: #333; }

.main {
  padding-top: 2.5em; }

.templates--container {
  display: none; }

.closePopup {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0; }

.active--popup {
  z-index: 200; }

.columns {
  width: 95%;
  margin: auto;
  -webkit-column-width: 10em;
  -moz-column-width: 10em;
  column-width: 10em; }
