.body {
  background-image: url("../images/seigaiha.png");
  background-attachment: fixed;
  font-family: Calibri;
  color: #333; }

.main {
  padding-top: 3.5em; }

.templates--container {
  display: none; }

.columns {
  width: 98%;
  margin: auto;
  -webkit-column-width: 15.5em;
  -moz-column-width: 15.5em;
  column-width: 15.5em;
  -webkit-column-gap: 1em;
  /* Chrome, Safari, Opera */
  -moz-column-gap: 1em;
  /* Firefox */
  column-gap: 1em; }
