/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.body {
  background-image: url("../images/seigaiha.png");
  background-attachment: fixed;
  font-family: Calibri;
  color: #333; }

.main {
  padding-top: 2.5em; }

.templates--container {
  display: none; }

.columns {
  min-width: 320px;
  width: 95%;
  margin: auto;
  -webkit-column-width: 10em;
  -moz-column-width: 10em;
  column-width: 10em; }

.header {
  padding: 0.25em;
  height: 2em;
  width: 100%;
  position: fixed;
  background-image: url("../images/seigaiha.png");
  background-attachment: fixed; }
  .header--logo {
    height: 2em;
    position: absolute;
    left: 1em;
    cursor: pointer; }
  .header--menu-right {
    position: absolute;
    margin: 0.25em;
    top: 0;
    right: 1em; }
    .header--menu-right--btn {
      height: 2em;
      cursor: pointer; }
  .header .search-bar {
    background-color: rgba(180, 180, 230, 0.1);
    height: auto;
    font-size: 1.6em;
    width: 100%;
    text-align: center;
    border: 0.05em solid #E6E6E6;
    cursor: pointer;
    -webkit-box-shadow: 0.08em 0.08em 0.04em #D9D9D9;
    -moz-box-shadow: 0.08em 0.08em 0.04em #D9D9D9;
    -ms-box-shadow: 0.08em 0.08em 0.04em #D9D9D9;
    box-shadow: 0.08em 0.08em 0.04em #D9D9D9; }
    .header .search-bar--container {
      display: block;
      margin: 0 8em 0 3em;
      width: auto; }
    .header .search-bar:focus {
      background-color: #FFF; }

.sticker {
  width: 10em;
  background-color: rgba(180, 180, 230, 0.1);
  margin: 0.2em;
  display: inline-block;
  cursor: pointer;
  -webkit-box-shadow: 0.15em 0.15em 0.075em #D9D9D9;
  -moz-box-shadow: 0.15em 0.15em 0.075em #D9D9D9;
  -ms-box-shadow: 0.15em 0.15em 0.075em #D9D9D9;
  box-shadow: 0.15em 0.15em 0.075em #D9D9D9;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  z-index: 0; }
  .sticker:hover {
    background-color: #F1F1FA; }
  .sticker:hover > .sticker-bar {
    display: block;
    height: auto; }
  .sticker-id {
    display: none; }
  .sticker--name {
    text-align: center;
    font-size: 1.2em;
    margin: 0 0.2em;
    border-bottom: 1px solid #FFF; }
    .sticker--name .sticker--title {
      font-weight: bold; }
  .sticker--picture {
    -webkit-border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    -ms-border-radius: 0.25em;
    border-radius: 0.25em; }
    .sticker--picture--img {
      width: 10em;
      margin-top: 0.2em; }
  .sticker--link {
    text-align: center;
    margin: 0 0.2em;
    border-bottom: 1px solid #FFF; }
    .sticker--link--path {
      text-decoration: none;
      font-style: italic;
      color: #333; }
    .sticker--link:hover {
      text-decoration: underline; }
  .sticker--content {
    text-indent: 1em;
    text-align: justify;
    padding: 0.2em 0.1em; }
  .sticker-bar {
    height: 0;
    z-index: 10;
    display: none; }
    .sticker-bar--menu {
      display: flex;
      justify-content: space-around; }
      .sticker-bar--menu-item {
        display: inline-block; }
        .sticker-bar--menu-item:hover {
          color: red; }

.footer {
  clear: both;
  font-size: 0.8em;
  color: #B2B2B2;
  text-align: center; }

.popup {
  background-image: url("../images/seigaiha-transparent.png");
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10; }
  .popup-title {
    font-size: 1.5em;
    text-align: center;
    margin: 0.2em 0; }
  .popup-subtitle {
    font-size: 1.2em;
    text-align: center;
    margin: 0.2em 0; }
  .popup-input, .popup-textarea {
    font-size: 1em;
    display: block;
    width: 90%;
    margin: 0.2em auto; }
  .popup-textarea {
    resize: none; }
  .popup--content {
    margin: auto;
    width: 10em;
    z-index: 30;
    background-color: #FFF; }
  .popup--close {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20; }

.boards-list {
  margin: 0.5em; }
  .boards-list-item {
    font-size: 1em;
    margin-bottom: 0.2em;
    cursor: pointer; }
    .boards-list-item:hover {
      color: red; }
    .boards-list-item-image {
      height: 0.7em;
      margin-right: 0.1em; }
  .boards-list-add {
    font-size: 1em;
    text-align: center;
    margin: 0.2em 0; }
    .boards-list-add-form {
      margin: 0.5em;
      display: flex;
      align-items: flex-start; }
    .boards-list-add-title-input {
      font-size: 0.8em;
      width: 9em; }
    .boards-list-add-btn {
      height: 1.3em;
      padding-left: 0.2em;
      cursor: pointer; }

.activeBoard {
  color: lightgreen;
  font-weight: bold; }

@media screen and (max-width: 540px) {
  .body {
    font-size: 12px; } }

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .body {
    font-size: 18px; } }

@media screen and (min-width: 1200px) {
  .body {
    font-size: 24px; } }
