/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.body {
  background: #F2F2F2;
  font-family: Calibri;
  color: #333; }

.templates--container {
  display: none; }

.closePopup {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0; }

.active--popup {
  z-index: 200; }

.header {
  padding: 0.25em;
  height: 2em; }
  .header .header--logo {
    height: 2em;
    position: absolute; }
  .header .header--menu-right {
    position: absolute;
    margin: 0.25em;
    top: 0;
    right: 0; }
    .header .header--menu-right > * {
      height: 2em; }
  .header .search-bar--container {
    display: block;
    margin: 0 6.75em 0 2.2em;
    width: auto; }
    .header .search-bar--container form {
      width: 100%; }
      .header .search-bar--container form .search-bar {
        height: auto;
        font-size: 1.6em;
        width: 100%;
        text-align: center;
        border: 0.05em solid #E6E6E6;
        -webkit-border-radius: 0.25em;
        -moz-border-radius: 0.25em;
        -ms-border-radius: 0.25em;
        border-radius: 0.25em;
        -webkit-box-shadow: 0 0.03em 0.03em 0;
        -moz-box-shadow: 0 0.03em 0.03em 0;
        -ms-box-shadow: 0 0.03em 0.03em 0;
        box-shadow: 0 0.03em 0.03em 0; }

.sticker {
  width: 10em;
  background-color: #E6E6E6;
  margin: 0.2em;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  border-radius: 0.25em;
  -webkit-box-shadow: 0 0.03em 0.03em 0;
  -moz-box-shadow: 0 0.03em 0.03em 0;
  -ms-box-shadow: 0 0.03em 0.03em 0;
  box-shadow: 0 0.03em 0.03em 0;
  border-bottom: 1px solid #FFF;
  float: left; }
  .sticker--name {
    text-align: center;
    font-size: 1.2em;
    margin: 0 0.2em;
    border-bottom: 1px solid #FFF; }
    .sticker--name .sticker--title {
      font-weight: bold; }
  .sticker--picture {
    -webkit-border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    -ms-border-radius: 0.25em;
    border-radius: 0.25em; }
    .sticker--picture img {
      width: 10em;
      margin-top: 0.2em; }
  .sticker--link {
    text-align: center;
    margin: 0 0.2em;
    border-bottom: 1px solid #FFF; }
    .sticker--link a {
      text-decoration: none;
      font-style: italic;
      color: #333; }
  .sticker--content {
    text-indent: 1em;
    text-align: justify;
    padding: 0.2em 0.1em; }

.footer {
  clear: both;
  font-size: 0.8em;
  color: #B2B2B2;
  text-align: center; }

.new-sticker, .change-board {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(10, 20, 50, 0.9);
  z-index: 100;
  display: none;
  text-align: center; }
  .new-sticker--container, .change-board--container {
    margin: auto;
    background-color: #E6E6E6;
    -webkit-border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    -ms-border-radius: 0.25em;
    border-radius: 0.25em; }
  .new-sticker--add, .change-board--container {
    width: 10em; }
  .new-sticker--box-description, .change-board--box-description {
    font-size: 1.5em;
    padding-bottom: 0.2em;
    border-bottom: 1px solid #FFF; }
  .new-sticker--title {
    font-size: 1em;
    padding-bottom: 0.2em;
    border-bottom: 1px solid #FFF; }
    .new-sticker--title--input {
      height: auto;
      font-size: 1em;
      width: 8em;
      text-align: center;
      border: 0.05em solid #E6E6E6;
      -webkit-border-radius: 0.25em;
      -moz-border-radius: 0.25em;
      -ms-border-radius: 0.25em;
      border-radius: 0.25em;
      -webkit-box-shadow: 0 0.03em 0.03em 0;
      -moz-box-shadow: 0 0.03em 0.03em 0;
      -ms-box-shadow: 0 0.03em 0.03em 0;
      box-shadow: 0 0.03em 0.03em 0; }
  .new-sticker--image {
    font-size: 1em;
    padding-bottom: 0.2em;
    border-bottom: 1px solid #FFF; }
  .new-sticker--link {
    font-size: 1em;
    padding-bottom: 0.2em;
    border-bottom: 1px solid #FFF; }
    .new-sticker--link--input {
      height: auto;
      font-size: 1em;
      width: 8em;
      text-align: center;
      border: 0.05em solid #E6E6E6;
      -webkit-border-radius: 0.25em;
      -moz-border-radius: 0.25em;
      -ms-border-radius: 0.25em;
      border-radius: 0.25em;
      -webkit-box-shadow: 0 0.03em 0.03em 0;
      -moz-box-shadow: 0 0.03em 0.03em 0;
      -ms-box-shadow: 0 0.03em 0.03em 0;
      box-shadow: 0 0.03em 0.03em 0; }
  .new-sticker--content {
    font-size: 1em;
    padding-bottom: 0.2em;
    border-bottom: 1px solid #FFF; }
    .new-sticker--content--input {
      height: auto;
      font-size: 1em;
      width: 8em;
      text-align: center;
      border: 0.05em solid #E6E6E6;
      -webkit-border-radius: 0.25em;
      -moz-border-radius: 0.25em;
      -ms-border-radius: 0.25em;
      border-radius: 0.25em;
      -webkit-box-shadow: 0 0.03em 0.03em 0;
      -moz-box-shadow: 0 0.03em 0.03em 0;
      -ms-box-shadow: 0 0.03em 0.03em 0;
      box-shadow: 0 0.03em 0.03em 0;
      resize: none;
      height: 3em; }
  .new-sticker--tag {
    font-size: 1em;
    padding-bottom: 0.2em;
    border-bottom: 1px solid #FFF;
    margin-bottom: 0.3em; }
  .new-sticker--button--clear {
    font-size: 1em;
    -webkit-border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    -ms-border-radius: 0.25em;
    border-radius: 0.25em;
    float: left; }
  .new-sticker--button--add {
    font-size: 1em;
    -webkit-border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    -ms-border-radius: 0.25em;
    border-radius: 0.25em;
    float: right; }

.new-sticker, .change-board {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(10, 20, 50, 0.9);
  z-index: 100;
  display: none;
  text-align: center; }
  .new-sticker--container, .change-board--container {
    margin: auto;
    background-color: #E6E6E6;
    -webkit-border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    -ms-border-radius: 0.25em;
    border-radius: 0.25em; }
  .new-sticker--add, .change-board--container {
    width: 10em; }
  .new-sticker--box-description, .change-board--box-description {
    font-size: 1.5em;
    padding-bottom: 0.2em;
    border-bottom: 1px solid #FFF; }
  .new-sticker--title {
    font-size: 1em;
    padding-bottom: 0.2em;
    border-bottom: 1px solid #FFF; }
    .new-sticker--title--input {
      height: auto;
      font-size: 1em;
      width: 8em;
      text-align: center;
      border: 0.05em solid #E6E6E6;
      -webkit-border-radius: 0.25em;
      -moz-border-radius: 0.25em;
      -ms-border-radius: 0.25em;
      border-radius: 0.25em;
      -webkit-box-shadow: 0 0.03em 0.03em 0;
      -moz-box-shadow: 0 0.03em 0.03em 0;
      -ms-box-shadow: 0 0.03em 0.03em 0;
      box-shadow: 0 0.03em 0.03em 0; }
  .new-sticker--image {
    font-size: 1em;
    padding-bottom: 0.2em;
    border-bottom: 1px solid #FFF; }
  .new-sticker--link {
    font-size: 1em;
    padding-bottom: 0.2em;
    border-bottom: 1px solid #FFF; }
    .new-sticker--link--input {
      height: auto;
      font-size: 1em;
      width: 8em;
      text-align: center;
      border: 0.05em solid #E6E6E6;
      -webkit-border-radius: 0.25em;
      -moz-border-radius: 0.25em;
      -ms-border-radius: 0.25em;
      border-radius: 0.25em;
      -webkit-box-shadow: 0 0.03em 0.03em 0;
      -moz-box-shadow: 0 0.03em 0.03em 0;
      -ms-box-shadow: 0 0.03em 0.03em 0;
      box-shadow: 0 0.03em 0.03em 0; }
  .new-sticker--content {
    font-size: 1em;
    padding-bottom: 0.2em;
    border-bottom: 1px solid #FFF; }
    .new-sticker--content--input {
      height: auto;
      font-size: 1em;
      width: 8em;
      text-align: center;
      border: 0.05em solid #E6E6E6;
      -webkit-border-radius: 0.25em;
      -moz-border-radius: 0.25em;
      -ms-border-radius: 0.25em;
      border-radius: 0.25em;
      -webkit-box-shadow: 0 0.03em 0.03em 0;
      -moz-box-shadow: 0 0.03em 0.03em 0;
      -ms-box-shadow: 0 0.03em 0.03em 0;
      box-shadow: 0 0.03em 0.03em 0;
      resize: none;
      height: 3em; }
  .new-sticker--tag {
    font-size: 1em;
    padding-bottom: 0.2em;
    border-bottom: 1px solid #FFF;
    margin-bottom: 0.3em; }
  .new-sticker--button--clear {
    font-size: 1em;
    -webkit-border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    -ms-border-radius: 0.25em;
    border-radius: 0.25em;
    float: left; }
  .new-sticker--button--add {
    font-size: 1em;
    -webkit-border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    -ms-border-radius: 0.25em;
    border-radius: 0.25em;
    float: right; }

.change-board--available-boards {
  border-bottom: 1px solid #FFF; }
  .change-board--available-boards--list {
    text-align: left;
    padding-left: 0.5em;
    margin: 0.2em 0;
    cursor: pointer; }
    .change-board--available-boards--list:hover {
      color: red; }
  .change-board--available-boards--list img {
    height: 0.8em;
    position: relative;
    top: 0.1em;
    left: -0.1em; }

.change-board--new-board {
  padding-bottom: 0.2em; }
  .change-board--new-board--input-name {
    height: auto;
    font-size: 1em;
    width: 8em;
    text-align: center;
    border: 0.05em solid #E6E6E6;
    -webkit-border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    -ms-border-radius: 0.25em;
    border-radius: 0.25em;
    -webkit-box-shadow: 0 0.03em 0.03em 0;
    -moz-box-shadow: 0 0.03em 0.03em 0;
    -ms-box-shadow: 0 0.03em 0.03em 0;
    box-shadow: 0 0.03em 0.03em 0; }
  .change-board--new-board img {
    height: 1.5em;
    position: relative;
    top: 0.5em;
    cursor: pointer; }

@media screen and (max-width: 540px) {
  .body {
    font-size: 12px; } }

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .body {
    font-size: 18px; } }

@media screen and (min-width: 1200px) {
  .body {
    font-size: 24px; } }
