.sticker {
  width: 10em;
  background-color: rgba(180, 180, 230, 0.1);
  margin: 0.2em;
  display: inline-block;
  cursor: pointer;
  -webkit-box-shadow: 0.15em 0.15em 0.075em #D9D9D9;
  -moz-box-shadow: 0.15em 0.15em 0.075em #D9D9D9;
  -ms-box-shadow: 0.15em 0.15em 0.075em #D9D9D9;
  box-shadow: 0.15em 0.15em 0.075em #D9D9D9;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  z-index: 0; }
  .sticker:hover {
    background-color: #F1F1FA; }
  .sticker:hover > .sticker-bar {
    display: block;
    height: auto; }
  .sticker-id {
    display: none; }
  .sticker--name {
    text-align: center;
    font-size: 1.2em;
    margin: 0 0.2em;
    border-bottom: 1px solid #FFF; }
    .sticker--name .sticker--title {
      font-weight: bold; }
  .sticker--picture {
    -webkit-border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    -ms-border-radius: 0.25em;
    border-radius: 0.25em; }
    .sticker--picture--img {
      width: 10em;
      margin-top: 0.2em; }
  .sticker--link {
    text-align: center;
    margin: 0 0.2em;
    border-bottom: 1px solid #FFF; }
    .sticker--link--path {
      text-decoration: none;
      font-style: italic;
      color: #333; }
    .sticker--link:hover {
      text-decoration: underline; }
  .sticker--content {
    text-indent: 1em;
    text-align: justify;
    padding: 0.2em 0.1em; }
  .sticker-bar {
    height: 0;
    z-index: 10;
    display: none; }
    .sticker-bar--menu {
      display: flex;
      justify-content: space-around; }
      .sticker-bar--menu-item {
        display: inline-block; }
        .sticker-bar--menu-item:hover {
          color: red; }
