@import '../style_set';
@import 'new-sticker-popup';

.change-board {
    @extend .new-sticker;

    &--container {
        @extend .new-sticker--container;
        @extend .new-sticker--add;
    }
    &--box-description {
        @extend .new-sticker--box-description;
    }
    &--available-boards {
        @include sticker-underline();

        &--list li{
            text-align: left;
            padding-left: 0.5em;
            margin: 0.2em 0;
            cursor: pointer;

            &:hover {
                color: red;
            }
        }
        &--list img {
            height: 0.8em;
            position: relative;
            top: 0.1em;
            left: -0.1em;
        }
    }
    &--new-board {
        padding-bottom: 0.2em;

        &--input-name {
            @include popup-input();
        }
        & img {
            height: 1.5em;
            position: relative;
            top: 0.5em;
            cursor: pointer;
        }
    }
}
