.wrapper {
  width: 100%; }

.header {
  height: 245px; }
  .header--title {
    color: #ffffff;
    font-size: 38px;
    font-weight: 600;
    padding: 50px 0 20px; }
    .header--title-strong {
      font-weight: 900;
      font-size: 20px;
      padding: 10px; }
  .header--subtitle {
    font-size: 20px;
    font-weight: 100; }
  .header--photo {
    border: 5px solid #ffffff;
    margin: 35px auto 0;
    width: 150px; }

.slider--dots {
  display: none; }

.slider--item {
  width: 100%; }
  .slider--item--title {
    font-size: 40px;
    font-weight: 900;
    color: #000000;
    padding: 30px 0 0 10px; }
    .slider--item--title:after {
      content: '';
      display: block;
      width: 100px;
      background: #b01f24;
      height: 10px;
      margin: 20px 0; }
  .slider--item--columns-text {
    padding: 0 10px;
    text-indent: 20px; }

.slider--list-item {
  margin: 30px 15px 15px;
  font-size: 24px; }

.slider--container {
  margin: 40px 0; }
  .slider--container .strong {
    font-weight: 800; }
  .slider--container-title {
    font-size: 22px;
    font-weight: 800;
    padding-left: 10px; }
  .slider--container-subtitle {
    font-size: 18px;
    font-weight: 400;
    padding: 10px 0 0 10px; }
  .slider--container-year {
    margin: 10px 15px; }
  .slider--container-description {
    padding: 0 10px; }

.hobby {
  margin: 20px 20px; }
  .hobby-img {
    height: 120px; }
  .hobby-desc {
    max-width: 100px;
    margin-top: 10px; }

.skills {
  margin-top: 50px;
  padding-bottom: 50px; }
  .skills--title {
    font-size: 40px;
    font-weight: 900;
    color: #ffffff;
    padding: 30px 0 0 10px; }
    .skills--title:after {
      content: '';
      display: block;
      width: 100px;
      background: #ffffff;
      height: 10px;
      margin: 20px 0; }
  .skills--list {
    margin: 0 -5px; }
  .skills--item {
    width: 100%;
    height: 100%; }
    .skills--item-wrapper {
      perspective: 1000px;
      width: 45%;
      height: 100px;
      margin: 1%; }
    .odd-mobile .skills--item-front, .odd-mobile .skills--item-back {
      background: rgba(255, 0, 0, 0.4); }
  .skills--level {
    font-size: 15px; }
    .odd-mobile .skills--level {
      color: rgba(255, 255, 255, 0.5); }
  .skills--name {
    font-size: 20px; }
    .odd-mobile .skills--name {
      color: rgba(255, 255, 255, 0.9); }

.workboards {
  margin: 50px 0; }
  .workboards--title {
    font-size: 40px;
    font-weight: 900;
    color: #000000;
    padding: 30px 0 0 10px; }
    .workboards--title:after {
      content: '';
      display: block;
      width: 100px;
      background: #b01f24;
      height: 10px;
      margin: 20px 0; }
  .workboards--description {
    padding: 10px;
    text-indent: 20px; }
  .workboards--img {
    margin: 0 auto;
    height: 160px; }
  .workboards--nav {
    width: 100%;
    overflow: hidden; }
    .workboards--nav-item {
      margin: 0 5px;
      display: inline-block;
      width: auto;
      padding: 0 30px;
      height: 30px;
      line-height: 30px;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      vertical-align: middle;
      background: #b01f24;
      color: #ffffff;
      font-size: 10px;
      text-transform: uppercase;
      font-weight: 500;
      text-decoration: none;
      cursor: pointer;
      text-align: center;
      float: right; }
      .workboards--nav-item.secondary {
        display: inline-block;
        width: auto;
        padding: 0 30px;
        height: 30px;
        line-height: 30px;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        vertical-align: middle;
        background: #b01f24;
        color: #ffffff;
        font-size: 10px;
        text-transform: uppercase;
        font-weight: 500;
        text-decoration: none;
        cursor: pointer;
        text-align: center;
        background: none;
        border: 2px solid #000000;
        color: #000000;
        line-height: 26px;
        float: left; }

.footer {
  padding: 40px 0 20px; }
  .footer--title {
    font-weight: 500;
    font-size: 40px;
    font-weight: 900;
    color: #ffffff;
    padding: 30px 0 0 10px; }
    .footer--title:after {
      content: '';
      display: block;
      width: 100px;
      background: #ffffff;
      height: 10px;
      margin: 20px 0; }
    .footer--title:after {
      height: 5px;
      width: 50px; }
  .footer--data {
    font-size: 16px;
    line-height: 50px;
    font-weight: 200;
    margin-left: 20px; }
    .footer--data-key {
      width: 80px; }
    .footer--data-value {
      font-weight: 500;
      width: 200px; }
  .footer--cv-link {
    display: inline-block;
    width: auto;
    padding: 0 48px;
    height: 48px;
    line-height: 48px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    vertical-align: middle;
    background: #b01f24;
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    background: none;
    border: 2px solid #000000;
    color: #000000;
    line-height: 44px;
    height: 104px;
    line-height: 100px;
    width: 280px;
    display: block;
    margin: auto;
    padding: 0 20px; }
  .footer--copy {
    padding-top: 30px;
    font-weight: 100;
    font-size: 12px;
    letter-spacing: 1.5px; }
