<!doctype html>
<!--[if lt IE 7]>      <html class='no-js lt-ie9 lt-ie8 lt-ie7'> <![endif]-->
<!--[if IE 7]>         <html class='no-js lt-ie9 lt-ie8'> <![endif]-->
<!--[if IE 8]>         <html class='no-js lt-ie9'> <![endif]-->
<!--[if gt IE 8]><!--> <html class='no-js'> <!--<![endif]-->

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='description' content=''>
    <meta name='keywords' content=''>
    <meta name='author' content='Toki'>
    <meta name='viewport' content='width=device-width'>
    <title>Work boards</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!--build:css css/styles.min.css-->
        <link rel='stylesheet' href='css/main.css'>
    <!-- endbuild -->
</head>

<body class='body'>
    <!--[if lt IE 10]>
        <p class='browsehappy'>You are using an <strong>outdated</strong> browser. Please <a href='http://browsehappy.com/'>upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class='check-boards-list js-check-boards'></div>

    <div class='popup--wrapper js-popup-wrapper'></div>

    <div class='main--app js-layout-container'></div>

    <div class='templates--container'>
        <!-- TEMPLATE -->
        <script type='text/template' id='layout-template'>
            <header class='header' id='header'>
                <img src='images/logo.png' class='header--logo js-main-page-btn' />
                <div class='search-bar--container'>
                    <input class='search-bar' type='text' autocomplete='off' placeholder='What are you looking for?'></input>
                </div>
                <div class='header--menu-right'>
                    <a class='header--menu-right--btn js-add-sticker-btn'>
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </a>
                    <a class='header--menu-right--btn js-change-board-btn'>
                        <i class="fa fa-list-alt " aria-hidden="true"></i>
                    </a>
                </div>
            </header>

            <main class='main'>
                <div class='main-container'>
                    <div class='columns js-sticker-container'></div>
                </div>
            </main>

            <footer class='footer'>
                    <span class='footer--content'>Copyrights, email@domain.com, ...etc...</span>
            </footer>
        </script>
        <!-- TEMPLATE END -->

        <!-- TEMPLATE -->
        <script type='text/template' id='sticker-template'>
            <div class='sticker-bar'>
                <ul class='sticker-bar--menu'>
                    <li class='sticker-bar--menu-item js-edit-sticker'>
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </li>
                    <li class='sticker-bar--menu-item js-add-to-board'>
                        <i class="fa fa-list-alt" aria-hidden="true"></i>
                    </li>
                    <li class='sticker-bar--menu-item js-delete-sticker'>
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </li>
                </ul>
            </div>
            <h3 class='sticker--title'><%= title %></h3>
            <% if (pictureSrc) {%>
                <div class='sticker--picture'>
                    <a href='<%= link %>'>
                        <img src='<%= pictureSrc %>' class='sticker--picture--img'/>
                    </a>
                </div>
            <%} %>
            <% if (linkDesc) {%>
                <div class='sticker--link'>
                    <a href='<%= link %>' class='sticker--link--path'>
                        <%= linkDesc %>
                    </a>
                </div>
            <%} %>
            <% if (content) {%>
                <div class='sticker--content'>
                    <p class='sticker--content'>
                        <%= content %>
                    </p>
                </div>
            <%} %>
            <div class='sticker--tags'></div>
        </script>
        <!-- TEMPLATE END -->

        <!-- TEMPLATE -->
        <script type='text/template' id='boards-list-template'>
            <h3 class='popup-title'>Boards List</h3>
            <ul class='boards-list js-boards-list'></ul>
            <h2 class='boards-list-add'>Add new board</h2>
            <input class='boards-list-add-title js-new-board-name' type='text' autocomplete='off' placeholder='new board name' id='js-new-board-name'></input>
            <div class='boards-list-add-btn js-add-board-btn'>
                <i class="fa fa-plus-square-o fa-2x" aria-hidden="true"></i>
            </div>
        </script>
        <!-- TEMPLATE END -->

        <!-- TEMPLATE -->
        <script type='text/template' id='board-item-template'>
            <span class='js-check-board-title'><%= title %></span>
        </script>
        <!-- TEMPLATE END -->

        <!-- TEMPLATE -->
        <script type='text/template' id='check-boards-template'>
            <h3 class='popup-title'>Add sticker:</h3>
            <h2 class='boards-list-add js-sticker-id'></h2>
            <h2 class='boards-list-add'>To boards:</h2>
            <ul class='boards-list js-check-boards-list'></ul>
            <h2 class='boards-list-add'>Add new board</h2>
            <input class='boards-list-add-title js-new-board-name' type='text' autocomplete='off' placeholder='new board name' id='js-new-board-name'></input>
            <div class='boards-list-add-btn js-add-board-btn'>
                <i class="fa fa-plus-square-o fa-2x" aria-hidden="true"></i>
            </div>
        </script>
        <!-- TEMPLATE END -->

        <!-- TEMPLATE -->
        <script type='text/template' id='popup-template'>
            <div class='popup'>
                <div class='popup--close js-popup-close'></div>
                <div class='popup--content js-popup-content'></div>
            </div>
        </script>
        <!-- TEMPLATE END -->

        <!-- TEMPLATE -->
        <script type='text/template' id='new-sticker-template'>
            <div class='popup-title'>
                <% if (typeof(id) !== 'undefined') { %>
                    <span>Edit sticker:</span><br />
                    <span><%= title %> (<%= id %>)</span>
                <% } else { %>
                    <span>Add sticker:</span>
                <% } %>
            </div>
            <div class='popup-subtitle'>
                <span>Title</span>
                <input class='popup-input' id='sticker-title-input' type='text' autocomplete='off' placeholder='' value='<% if (typeof(title) !== 'undefined') {%><%= title %><%} %>'></input>
            </div>
            <div class='popup-subtitle'>
                <span>Place an image</span>
                <input class='popup-input' type='file' name='fileupload' value='fileupload' id='fileupload'></input>
            </div>
            <div class='popup-subtitle'>
                <span>Link source</span>
                <input class='popup-input' id='sticker-link-input' type='text' autocomplete='off' placeholder='' value='<% if (typeof(link) !== 'undefined') {%><%= link %><%} %>'></input>
                <span>Link description</span>
                <input class='popup-input' id='sticker-link-description-input' type='text' autocomplete='off' placeholder='' value='<% if (typeof(linkDesc) !== 'undefined') {%><%= linkDesc %><%} %>'></input>
            </div>
            <div class='popup-subtitle'>
                <span>Content</span>
                <textarea class='popup-textarea' id='sticker-description-input' rows='4'></textarea>
            </div>
            <div class='popup-subtitle'>
                <span>Tags</span>
            </div>
            <div class='popup-subtitle new-sticker-bar'>
                <div class='new-sticker-button'>Clear</div>
                <div class='new-sticker-button js-add-new-sticker'>Add sticker</div>
            </div>
        </script>
        <!-- TEMPLATE END -->



    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <!-- <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-XXXXX-X');ga('send','pageview');
    </script> -->

    <!-- <script src='bower_components/requirejs/require.js' data-main='js/main'></script>
    <script src='bower_components/modernizr/modernizr.js'></script> -->

    <!-- build:js js/main.min.js -->
        <script src='https://www.gstatic.com/firebasejs/3.6.10/firebase.js'></script>

        <script src='bower_components/jquery/dist/jquery.js'></script>
        <script src='bower_components/underscore/underscore.js'></script>
        <script src='bower_components/backbone/backbone.js'></script>
        <script src='bower_components/backbone-localstorage/backbone-localstorage.js'></script>
        <script src='bower_components/backbone.radio/build/backbone.radio.js'></script>
        <script src='bower_components/backbone.marionette/lib/backbone.marionette.js'></script>
        <script src='bower_components/backbonefire/dist/backbonefire.js'></script>

        <script src='js/app/stickers/models/model.js'></script>
        <script src='js/app/stickers/models/collection.js'></script>
        <script src='js/app/stickers/views/item.js'></script>
        <script src='js/app/stickers/views/list.js'></script>
        <script src='js/app/stickers/views/new.js'></script>
        <script src='js/app/stickers/views/edit.js'></script>

        <script src='js/app/boards/models/model.js'></script>
        <script src='js/app/boards/models/collection.js'></script>
        <script src='js/app/boards/views/item.js'></script>
        <script src='js/app/boards/views/list.js'></script>

        <script src='js/app/boards/views/check.boards.item.js'></script>
        <script src='js/app/boards/views/check.boards.list.js'></script>

        <script src='js/app/common/views/layout.js'></script>
        <script src='js/app/common/views/popup.js'></script>

        <script src='js/app/routers/routers.controller.js'></script>
        <script src='js/app/routers/app.router.js'></script>

        <script src='js/app/initialize.js'></script>
        <script src='js/database/firebase.js'></script>
    <!-- endbuild -->

</body>
</html>
