@import 'reset';
@import 'style-set';
@media screen and (max-width: 1000px) {
    @import 'mobile'
}

@media screen and (min-width: 1000px) {
    @import 'desktop'
}


@import 'font-awesome/font-awesome';

html {
    font-family: 'Lato';
}

.wrapper {
    // width: 976px;
    margin: 0 auto;
    position: relative;
}

.section {
    &.about {
        // margin-top: 100px;
    }
}

.header {
    // height: 500px;
    background: url('../images/header.jpg') top center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: visible;

    &--title {
        color: $color-white;
        // font-size: 90px;
        font-weight: 600;
        text-align: center;
        // padding: 100px 0 20px;

        &-strong {
            background: $color-red;
            color: $color-white;
            font-weight: 900;
            // font-size: 45px;
            // padding: 20px;
            @include border-radius(50%);
            vertical-align: top;

        }
    }

    &--subtitle {
        color: rgba(255,255,255, 0.6);
        // font-size: 40px;
        font-weight: 100;
        text-align: center;
    }

    &--photo {
        display: block;
        @include border-radius(50%);
        // border: 10px solid $color-white;
        // margin: 95px auto 0;
        // width: 300px;
    }
}

.slider {
    // display: block;
    overflow: hidden;

    &--items {
    }

    &--item {
        // position: absolute;
        // width: 976px;
        // right: -1200px;
        @include transition(all 1s cubic-bezier(.3,-0.2,.2,1.3));

        &--title {

        }

        &--body {
            font-size: $p-font-size;
            line-height: $p-line-height;
            text-align: justify;
        }

        &--columns-text {
        }
    }

    &--list {
            display: flex;
            justify-content: center;

        &-item {
            margin: 30px 15px 15px;
            font-size: 24px;

            &.active {

            }

            &:hover {

            }
        }
    }

    &--container {
        // float: left;
        // width: 50%;
        //margin: 10px 0;
        // padding-right: 40px;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;

        &:nth-child(2) {
            // float: right;
        }

        & .strong {
            font-weight: 800;
        }

        &-title {
            // font-size: 30px;
            font-weight: 800;
            text-align: left;
        }

        &-subtitle {
            // font-size: 18px;
            font-weight: 400;
            // padding: 10px 0 0 10px;
        }

        &-year {
            color: $color-medium-grey;
            display: inline-block;
            // margin: 10px 15px 20px;
        }

        &-description {
            // width: 350px;
        }
    }
}

.hobbies {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.hobby {
    margin: 20px 20px;

    &-img {
        height: 120px
    }

    &-desc {
        text-align: center;
        max-width:100px;
        margin-top: 10px;
    }
}

.skills {
    background: url('../images/bgr2.jpg') top center no-repeat;
    background-size: cover;
    // height: 1000px;
    // margin-top: 150px;

    &--title {
        // padding: 100px 0 60px;
        // @include title-styles($color-white, $color-white, 60px);
    }

    &--list {
        margin: 0 -5px;
        text-align: center;
    }

    &--item {
        transform-style: preserve-3d;
        width: 100%;
        height: 100%;
        position: relative;
        @include transition(all 0.7s linear);
        @include transform(rotateY(0deg));
        @include backface(hidden);

        &-wrapper {
            perspective: 1000px;
            display: inline-block;
            // width: 233px;
            // height: 140px;
            // margin: 5px;
            vertical-align: middle;

            &:hover {
                .skills--item {
                    @include transform(rotateY(180deg));
                }
            }
        }

        &-front, &-back {
            background: rgba(255, 255, 255, 0.6);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            @include backface(hidden);

            .odd & {
                // background: rgba(255, 0, 0, 0.25);
            }
        }

        &-back {
            @include transform(rotateY(180deg));
        }
    }

    &--level {
        font-weight: 300;
        // padding: 30px 0 5px;
        // font-size: 20px;
        color: #2b2b2b;
        display: block;

        .odd & {
            // color: rgba(255,255,255,0.5);
        }
    }

    &--name {
        color: $color-black;
        font-weight: 600;
        // font-size: 25px;

        .odd & {
            // color: rgba(255,255,255,0.9);
        }
    }
}

.workboards {
    // margin: 150px 0 50px;

    &--title {
        // @include title-styles($color-black, $color-red, 60px);
        display: inline-block;
    }

    &--description {
        font-size: $p-font-size;
        line-height: $p-line-height;
        text-align: justify;
        // padding: 15px 0;
        // margin-bottom: 50px;
        // column-count: 3;
        // column-gap: 40px;
    }

    &--img {
        display: block;
        margin: 0 auto;
        // height: 500px;
    }

    &--nav {
        // display: inline-block;
        // float: right;
        padding-top: 3px;

        &-item {
            // @include button(16px);
            // margin-left: 10px;

            &.secondary {
                // @include button-secondary(16px);
            }
        }
    }
}

.footer {
    background: $color-red;
    color: $color-white;
    // padding: 40px 0;

    &--title {
        // @include title-styles($color-white, $color-white, 60px);
        font-size: 42px;
        font-weight: 500;

        &:after {
            height: 5px;
            width: 50px;
        }
    }

    &--data {
        // font-size: 20px;
        line-height: 50px;
        font-weight: 200;
        // width: 500px;

        &-key, &-value {
            display: inline-block;
            vertical-align: top;
        }

        &-key {
            // width: 100px;
        }

        &-value {
            font-weight: 500;
            // width: 395px;
        }
    }

    &--cv-link {
        // @include button-secondary(16px);
        // position: absolute;
        // right: 0px;
        // top: 70px;
        // height: 104px;
        line-height: 100px;
        // width: 360px;
        color: $color-white;
        border-color: $color-white;
        opacity: 0.7;

        &:hover {
            opacity: 1;
        }
    }

    &--copy {
        // padding-top: 70px;
        text-align: center;
        opacity: 0.6;
        font-weight: 100;
        // font-size: 20px;
        // letter-spacing: 2px;
    }
}
