body {
    margin: 0;
    padding: 0;
    background: #F2F2F2;
    font-family: "Calibri";
    font-size: 24px;
    color: #333;
}

header {
    display: inline-block;
    width: 100%;
}

main {
    display: inline-block;
}

footer {
    font-size: 0.8em;
    color:#B2B2B2;
}

header div {
    float: left;
    display: inline-block;
    padding: 5px 10px;
}

.main-app {
    text-align: center;
}

.header--logo {
    border: 0.1em solid;
    font-size: 1.5em;
    border-radius: 0.5em;
    background-color: red;
    padding: 0.4em;
    margin-left: 1em;
}

.search-bar--container {
    width: 80%;
}

.search-bar {
    height:1.7em;
    background-color: #E2E2E2;
    font-size: 1.5em;
    border: 0.1em solid #8C8C8C;
    border-radius: 0.5em;
    padding: 0px 0.5em;
    width: 95%;
    text-align: center;
}

.header--menu-right {
    width: 10%;
}

.column {
    margin: 0px;
    padding: 0px;
    width: 20%;
    float: left;
    display: inline-block;
}

.main-sticker {
    width: 95%;
    background-color: #E9E9E9;
    border-radius: 0.5em;
    padding-top: 0.5em;
    margin: 0.5em auto;
}

.main-sticker .sticker--logo{
    margin: auto;
    padding: 0.1em;
    background-color: #E2E2E2;
    border: 0.1em solid #8C8C8C;
    border-radius: 0.5em;
    min-height: 5em;
    justify-content: center;
    width: 90%;
}

.main-sticker .sticker--logo span {
    margin: 0.5em;
    display: inline-block;
    vertical-align: middle;
}

.main-sticker .sticker--content p{
    margin: 0em;
}

.main-sticker .sticker--content ul{
    margin: 0em;
}

.main-container {
    display: inline-block;
    margin: auto;
}
